@model IList<DoctorPatient>
@{
    ViewData["Title"] = "Vazba doktor-pacient";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/table.min.css" asp-append-version="true" />
}

<section class="section-container">
    <div class="section-header">
        <h2>@ViewData["Title"]</h2>
        
        <a asp-action="Create" class="button">
            <i class='bx bx-plus'></i> Nová vazba doktor-pacient
        </a>
    </div>

    <div class="card">
        @if (Model != null && Model.Count > 0)
        {
            <div class="table-container">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Pacient</th>
                            <th scope="col">Doktor</th>
                            <th scope="col">Akce</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>
                                    @if (item.Patient != null)
                                    {
                                        <span class="exam-link">[@item.Patient.Id] @item.Patient.UserName</span>
                                    }
                                    else
                                    {
                                        <span>neznámý</span>
                                    }
                                </td>
                                <td>
                                    @if (item.Doctor != null)
                                    {
                                        <span class="exam-link">[@item.Doctor.Id] @item.Doctor.UserName</span>
                                    }
                                    else
                                    {
                                        <span>neznámý</span>
                                    }
                                </td>
                                <td>
                                    <div class="buttons">
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="button edit" title="upravit">
                                            <i class='bx bx-pencil'></i>
                                        </a>
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="button delete" onclick="return ConfirmDelete();" title="smazat">
                                            <i class='bx bx-trash'></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div class="empty">
                <p>Zatím zde nejsou žádné vazby doktor-pacient.</p>
            </div>
        }
    </div>
</section>

@section Scripts
{
    <script src="~/js/dialogs.js"></script>
}
